.productsInStep {
    flex: 4;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    
}

.product {
    max-width: 33%;
    flex: 1;
    padding: 2%;
}

.productGalleryInnerContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
}

.imagesPerRow {
    display: flex;    
}

.productSingleImage {
    max-width: 100px;
}

.mainImageContainer img {
    width: 90%!important;
}

.mainImageBox{
    width: 90%
}

.productContainerOpen {
    background: #eaeaea;
    position: fixed;
    top: 15%;
    left: 10%;
    width: 60%;
    height: 80%;
    display: flex;
    padding: 50px 90px;
    animation-duration: 0.5s;
    animation-name: fadeIn;
    overflow: hidden;
    overflow-y: scroll
}

.productLeftBox {
    flex: 1;
}

.productRightBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}




.productPrice{
    color: #464e54;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 10px;
    font-size: 33px;
}

input.productQuantityInput {
    font-size: 18px;
    line-height: 18px;
    background: #fff;
    color: #8a8f93;
    border: 1px solid #e1e3e4;
    padding: 11px 15px;
    margin: 0;
    vertical-align: middle;
    max-width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    margin-right: 5px;
    width: 60px;
    text-align: center;
}

.addToPackage {
    background: #9e652e;
    border: 1px solid #9e652e;
    color: #ffffff;
    font-size: 14.4px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: auto;
    margin: 0;
    text-decoration: none !important;
    cursor: pointer;
    padding: 11px 25px;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: background-color 100ms, color 100ms, border-color 100ms;
    -webkit-transition: background-color 100ms, color 100ms, border-color 100ms;
    transition: background-color 100ms, color 100ms, border-color 100ms;
    display: inline-block;
    font-family: Futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px 25px;
    font-size: 18px;
}

select.variantSelect:focus { 
    outline: none !important;
}

select.variantSelect {
    /* background: #ffffff00 !important; */
    color: #8a8f93;
    border: none !important;
    font-size: 14px !important;
    height: 50px;
    
    line-height: 42px !important;
    padding: 0 50px 0 15px!important;
    width: 268px !important;
    /* width: calc(100% + 28px) !important; */
    max-width: none !important;
    -webkit-appearance: none;
    appearance: none;
}

input.productQuantityInput:focus {
    outline: none;
}

.productTitle {
    color: #464e54;
    font-size: 50px;
    margin: 0 0% 0.5em;
}


.quantityAndSubmitBlock {
    display: flex;
    margin: 2% 0 0 0%;
    clear: both;
}

.clickOut {
    right: 2%;
    position: absolute;
    top: 5%;
    cursor: pointer;
    font-size: 35px;
    color: #464e54;
}

body{
    background:white;
    font-family: Futura, sans-serif; 
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.prproductDetails {
    margin-top: 3%;
    color: #464e54;
    font-size: 16px;
    padding-bottom: 10%;
}

.productContainerImage {
    width: 350px;
    cursor: pointer;
}

.productContainer{
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.steps {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    font-size: 50px;
    margin-bottom: 2%;
    margin-top: 2%;
    line-height: 50px;
}


.stepBox {
    color: #464e54;
    opacity: 50%;
    cursor:pointer;
}

.currentStep.stepBox {
    color: #a46622;
    opacity: 100%;
    
}


.productLine {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.productInfoSmall {
    text-align: center;
    font-size: 20px;
    color: #8a8f93;
}

.productImage {
    cursor: pointer;
    padding: 0.5%;
}

.stepDescriptionBox {
    font-size: 20px;
    text-align: center;
    color: #a3a7aa;
}

.variantText {
    color: #464e54;
    font-size: 19px;
    font-family: Futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;
    margin-bottom: 2%;
}

.stepIntro {
    font-family: Futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    color: #8a8f93;
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

.builderIntro{
    font-family: Futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    color: #8a8f93;
    font-size: 97px;
    width: 65%;
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
    line-height: normal;
}

.productsAndSummaryContainer {
    display: flex;
}

.summaryContainer {
    flex: 1;
    border-left: 4px solid #a46622;
    height: 100%;
    padding-bottom: 10%;
}

.summaryBox .summaryTitleAndPriceBox {
    display: flex;
    /* padding: 2%; */
    font-size: 15px;
    /* margin-left: 4%; */
    color: #a46622;
    width: 90%;
    margin: 2% auto;
    
}

.summaryBox .summaryTitleAndPriceBox:last-of-type{
    border-bottom: 0px solid #8a8f93;
}

.summaryBoxTitle {
    font-size: 37px;
    padding: 4%;
    color: #a46622;
    text-align: left;
}

.summaryTitle {
    flex: 4;
    margin-left: 0px;
    font-size: 15px;
}

.summaryImage img {
    width: 250px;
}

.summaryQuantity {
    /* margin: 0% 15%; */
    flex:1;
}

.summaryDelete {
 	cursor: pointer;
    color: #8a8f93;
    font-size: inherit;
}

.summaryContainerLastStep .summaryDelete {
    
    font-size: 20px;
}



.summaryPrice {
    text-align: right;
    flex: 1;
    margin-right: 3%;
}


.totalPriceValue {
    flex: 1;
    text-align: right;
}

.totalText {
    flex: 3;
    text-align: left;
}

.noDiscountDisclaimer {
    width: 90%;
    margin: auto;
    color: #a3a7aa;
    padding: 0% 2%;
    font-style: italic;
}


.totalNotDiscounted {
    padding: 2%;
    /* text-align: right; */
    width: 90%;
    margin: auto;
    border-top: 3px solid #8a8f93;
    padding: 2%;
    font-size: 15px;
    margin-left: 4%;
    color: #a46622;
    display: flex;
}

.totalDiscountedContainer {
        /* padding: 2%; */
    /* text-align: right; */
    width: 90%;
    margin: auto;
    /* border-top: 3px solid #8a8f93; */
    padding: 0% 2%;
    font-size: 22px;
    margin-left: 4%;
    /* margin-top: 0%!important; */
    color: #a46622;
    display: flex;
}

.totalDiscountValue {
    flex: 1;
    text-align: right;
}

.totalDiscountText {
    flex: 3;
}


/*PROMPT*/

.promptContainer {
    background: #eaeaea;
    top: 20%;
    width: 70%;
    /* margin: auto; */
    left: 5%;
    position: fixed;
    padding: 5% 2%;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.promptHeader {
    font-family: Futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    color: #8a8f93;
    font-size: 48px;
    width: 95%;
    margin: auto;
    text-align: center;
    line-height: normal;
}

.promptBody {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 6%;
}

.nextStep {
    background: #a46622;
    color: white;
}

.browse {
    color: #a46622;
    background: white;    
    border: 3px solid #a46622;
}

.promptElement {
    padding: 1.5% 2%;
    margin: 2% 2%;
    border-radius: -10%;
    width: 600px;
    font-size: 24px;
    margin: 2% auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promptBody {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 6%;
    display:block;
}

.promptText {
    text-align: center;
}

.promptCopy{
    width: 70%;
    margin: auto;
    margin-top: 3%;
    font-family: Futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8a8f93;
    font-size: 22px;
}

.promptCopyBold {
    font-weight: bold;
}

/* SUMMARY */

.lastStep {
    flex: 1;
    border-left: 0px solid #a46622;
    height: 100%;
    width: 70%;
    margin: auto;
    /* padding-bottom: 20%; */
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.lastStep .summaryImage {
    width: 250px;
    flex: 1;
}

.lastStep .summaryTitle {
    flex: 1;
    font-size: 40px;
    display: flex;
  
}

.lastStep .summaryImageTitleQunatityBox {
    display: flex;
    flex: 4;
}

.lastStep .TitleQuantityBox {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    flex: 2;
    padding-top: 3%;
}


.lastStep .summaryPrice {
    font-size: 45px;
    align-self: flex-end;
    padding-bottom: 3%;
}

.lastStep .summaryQuantityFlexItem {
    font-size: 30px;
    color: #8a8f93;
}

.lastStep .summaryQuantity {
    flex: 1;
    font-size: 36px;
    color: #8a8f93;
}

.lastStep .totalNotDiscounted{
    font-size: 30px;
    padding:2% 2% 1% 2%;
}

.lastStep .totalDiscountedContainer{
    font-size:42px;
}

.lastStep .summaryContainer{
    padding-bottom:0%;
}

.summaryContainerLastStep .summaryImageTitleQunatityBox{
    display: flex;
    flex: 2;
    width: 100%;
}

.addToCartButton {
    background: #9e652e;
    width: 70%;
    font-size: 37px;
    font-weight: 500;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: auto;
    /* height: 20px; */
    padding: 1% 5%;
}


.summaryContainerLastStep {
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.summaryContainerLastStep .summaryImageTitleQunatityBox {
    display: flex;
    width: 80%;
}


.summaryContainerLastStep .TitleQuantityBox {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.summaryContainerLastStep .summaryTitle {
    flex: 1;
    font-size: 35px;
}

.summaryContainerLastStep .summaryQuantity {
    flex: 3;
    font-size: 25px;
    color: #8a8f93;
}

.summaryContainerLastStep .summaryImage {
    flex: 1;
}

.summaryContainerLastStep .summaryPrice {
    text-align: right;
    flex: 0;
    margin-right: 3%;
    font-size: 30px;
}

.summaryContainerLastStep  .totalDiscountedContainer {
    width: 90%;
    margin: auto;
    padding: 0% 2%;
    font-size: 44px;
    margin-left: 4%;
    color: #a46622;
    display: flex;
}

.summaryContainerLastStep .totalNotDiscounted {
    padding: 2%;
    width: 90%;
    margin: auto;
    border-top: 3px solid #8a8f93;
    padding: 2%;
    font-size: 30px;
    margin-left: 4%;
    color: #a46622;
    display: flex;
}

.addToCartButton {
    background: #9e652e;
    width: 60%;
    font-size: 37px;
    font-weight: 500;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: auto;
    padding: 0.5% 5%;
    margin-bottom: 20%;
}



@media screen and (max-width: 1300px) {
    .builderIntro {
        font-family: Futura, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.6em;
        color: #8a8f93;
        font-size: 72px;
        width: 80%;
        margin: auto;
        margin-bottom: 2%;
        text-align: center;
        line-height: normal;
    }

    .productLine {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .productContainerImage {
        width: 250px;
        cursor: pointer;
    }

    .summaryContainer {
        flex: 1;
        border-left: 4px solid #a46622;
        height: 100%;
        padding-bottom: 10%;
        display: none;
    }

    .productContainerOpen {
        background: #eaeaea;
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        display: block;
        padding: 50px 90px;
        animation-duration: 0.5s;
        animation-name: fadeIn;
        overflow: hidden;
        overflow-y: scroll;
    }

    .productLeftBox {
        flex: 1;
        text-align: center;
    }

    .productGalleryInnerContainer {
        display: none;
    }

    .promptContainer {
        background: #eaeaea;
        top: 0;
        width: 100%;
        left: 0;
        position: fixed;
        padding: 5% 2%;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }

    .promptBody{
        display:block;
    }
    
    .promptElement {
        border-radius: -10%;
        padding: 3% 4%;
        border-radius: -10%;
        max-width: 60%;
        font-weight: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 3%;
        font-size: 20px;
    }

    
    .summaryContainerLastStep .summaryImage {
        flex: 2;
    }
    
    .summaryContainerLastStep .TitleQuantityBox {
        flex: 4;
    }
    
    .summaryContainerLastStep .summaryImage img {
        width: 100px;
    }

    .summaryContainerLastStep .summaryBox {
        margin: 7% 0;
    }
    
    .summaryContainerLastStep .summaryTitle {
        flex: 4;
        font-size: 19px;
    }

    .summaryContainerLastStep .summaryBoxTitle {        
        text-align: center;
        
    }

    
    
    .summaryContainerLastStep .summaryQuantity {
        flex: 7;
        color: gray;
        font-size: 17px;
    }

    .summaryContainerLastStep .summaryImageTitleQunatityBox {
        display: flex;
        width: 100%;
    }

    .summaryContainerLastStep .summaryBox .summaryTitleAndPriceBox {
        display: flex;
        font-size: 15px;
        color: #a46622;
        width: 90%;
        margin: 2% auto;
    }

    .totalPriceBox {
        margin-bottom: 5%;
    }

    .summaryContainerLastStep .summaryPrice {
        text-align: right;
        flex: 1;
        margin-right: 3%;
        font-size: 19px;
    }

    .addToCartButton {
        background: #9e652e;
        width: 70%;
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        color: white;
        cursor: pointer;
        margin: auto;
        padding: 0.5% 5%;
        margin-bottom: 20%;
    }

    .summaryContainerLastStep .totalNotDiscounted {
        padding: 2%;
        width: 90%;
        margin: auto;
        border-top: 3px solid #8a8f93;
        padding: 2%;
        font-size: 17px;
        margin-left: 4%;
        color: #a46622;
        display: flex;
    }

    .summaryContainerLastStep .totalDiscountedContainer {
        width: 90%;
        margin: auto;
        padding: 0% 2%;
        font-size: 27px;
        margin-left: 4%;
        color: #a46622;
        display: flex;
    }

}


@media screen and (max-width: 700px) {
    .builderIntro {
        font-family: Futura, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.6em;
        color: #8a8f93;
        font-size: 37px;
        width: 80%;
        margin: auto;
        margin-bottom: 3%;
        text-align: center;
        line-height: normal;
    }

    .stepDescriptionBox {
        font-size: 16px;
        text-align: center;
        color: #a3a7aa;
    }

    .steps {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-evenly;
        font-size: 30px;
        margin-bottom: 3%;
        margin-top: 4%;
        line-height: normal;
    }

    .stepIntro {
        font-family: Futura, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.6em;
        color: #8a8f93;
        font-size: 16px;
        width: 80%;
        margin: auto;
        margin-bottom: 2%;
    }

    .logo {
        -webkit-font-smoothing: antialiased;
        color: #464e54;
        margin: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-align: center;
         padding: 0;
    }
    
    .announcement__inner {
        display: none;
    }

    .summaryContainer {
        display:none;
    }

    .productContainer {
        text-align: center;
        margin-bottom:5%;       
    }

    .productContainerImage {
        /* width: 410px; */
        width: 80%!important;
    }

    .productLine {
        display: block;        
    }

    .productInfoSmall {
        text-align: center;
        font-size: 20px;
        color: #8a8f93;
        margin: 2% 0% 0% 0%;
    }

    .productContainerOpen {
        background: #eaeaea;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px 40px;
        overflow: hidden;
        overflow-y: scroll;
        display:block;
        transform: translateY(200%);
        -webkit-transform: translateY(200%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }

    .productGalleryInnerContainer {
        display: none;
    }
    
    .productRightBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        text-align: left;
    }

    .promptHeader {
        font-family: Futura, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.6em;
        color: #8a8f93;
        font-size: 39px;
        width: 95%;
        margin: auto;
        text-align: center;
        line-height: normal;
    }
    
    .promptContainer {
        background: #eaeaea;
        top: 0;
        width: 100%;
        /* margin: auto; */
        left: 0;
        position: fixed;
        padding: 5% 2%;
        /* animation-duration: 0.5s;
        animation-name: slideDown; */
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
    
    .promptBody {
        display: block;
        margin-top: 6%;
    }
    
    .promptElement {
        /* min-width: 300px; */
        padding: 3% 4%;
        border-radius: -10%;
        max-width: 60%;
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 3%;
    }

    .promptCopy {
        width: 85%;
        margin: auto;
        margin-top: 3%;
        font-family: Futura, sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #8a8f93;
        font-size: 22px;
    }

    .addToCartButton {
        background: #9e652e;
        width: 70%;
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        color: white;
        cursor: pointer;
        margin: 4% auto 20% auto;
        padding: 1% 5%;
    }

    .totalPriceBox {
        padding-bottom: 5%;
    }

    .TitleQuantityBox {
        flex: 2;
    }

    .summaryContainerLastStep {
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
    }

    .summaryContainerLastStep .summaryImage img {
        width: 70px;
    }

    .productTitle {
        color: #464e54;
        font-size: 30px;
        margin: 0 0% 0.5em;
    }

    .productPrice {
		color: #464e54;
		font-weight: normal;
		line-height: 1.2em;
		margin-bottom: 10px;
		font-size: 20px;
	}
    
	
.summaryContainerLastStep .summaryDelete {
    font-size: 15px;
    margin-top: 2px;
}
/*     
    .summaryImage {
        flex: 1;
    }
    
    
    
    .summaryImage img {
        width: 100px;
    }

    .summaryBox {
        margin: 7% 0;
    }
    
    .summaryTitle {
        flex: 4;
        font-size: 19px;
    }

    .summaryBoxTitle {
        
        text-align: center;
    }

    
    
    .summaryQuantity {
        flex: 1;
        color: gray;
    }

    .summaryImageTitleQunatityBox {
        display: flex;
        width: 100%;
    }

    .summaryBox .summaryTitleAndPriceBox {
        display: flex;
        font-size: 15px;
        color: #a46622;
        width: 90%;
        margin: 2% auto;
    } */
}

/*small mobile*/
@media screen and (max-width: 500px) {
    .steps {       
        font-size: 22px;      
    }

    .stepDescriptionBox {
        font-size: 13px;
    }

    .summaryContainerLastStep .summaryImage {
        flex: 2;
        display: none;
    }

    .promptElement{
        max-width: 80%;
    }
}





@keyframes fadeIn {
    0% {      
      opacity: 0;
    }    
    100% {
        opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {      
      opacity: 1;
    }    
    100% {
        opacity: 0;
    }
  }

  .slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(-100%); }
}